:root {
    --primary-color: #01B982;
  }

*{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 1.2em;
}

h1 {
    color: var(--primary-color);
}

small{
    color: #76817D;
    font-size: 0.75em;
}

small span{
    color: var(--primary-color);
    font-weight: bold;
}

p {
    margin-top: 0.5em;
    text-align: center;
    color: #76817D;
}

#swap{
    cursor: pointer;
    position: relative;
    left: 1em;
}

.currency {
    padding: 2em 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
.currency select {
    padding: 0.8em 1.6em 0.8em 0.8em;
    cursor: pointer;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid #dedede;
    border-radius: 0.5em;
    font-size: 1em;
    background: transparent;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%20000002%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
    background-position: right 0.5em top 50%, 0, 0;
    background-size: 0.9em auto, 100%;
    background-repeat: no-repeat;
}

.currency input {
    border: 0;
    background: transparent;
    font-size: 2em;
    text-align: right;
}
  
.swap-rate-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
  .rate {
    color: var(--primary-color);
    font-size: 1em;
    padding: 0 0.8em;
}
  
  select:focus,
  input:focus,
  button:focus {
    outline: 0;
}
  
  @media (max-width: 600px) {
    .currency input {
      width: 12.5em;
    }
}